/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Create some Bowfolio CSS variables. */
:root {
  --navbar-bg: #6495ED;
  --navbar-bg-rgb: 0, 19, 153;
  --navbar-text: white;
  --navbar-highlight-text: var(--bs-gray-500);

  --navbar-bg-admin: #F08000;
  --navbar-bg-rgb-admin: 196, 2, 51;

}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--navbar-bg);
  --bs-dark-rgb: var(--navbar-bg-rgb);
}

/* Color the navbar for admins */
.admin span,
.admin a {
  color: var(--navbar-bg-admin);
}

/* Color the navbar for users */
.user span,
.user a {
  color: var(--navbar-bg);
}

.landing-color-background {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding: 40px 0;
}

.landing-color-background-admin {
  background-color: var(--navbar-bg-admin);
  color: var(--navbar-text);
  padding: 40px 0;
}

.landing-white-background {
  background-color: var(--navbar-text);
  color: var(--navbar-bg);
  padding: 40px 0;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.landing-main {
  display: flex;
  padding-bottom: 30px;
}

.landing-main-left {
  width: 45%;
  text-align: center;
  padding: 200px 70px 200px 100px;
}

.landing-main-left * {
  padding-bottom: 20px;
}

.landing-main-right {
  position: relative;
  padding-top: 30px;
  width: 55%;
}

.landing-main button {
  background-color: var(--navbar-bg);
  color: white;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 200px;
}

footer {
  padding: 100px 0 50px 0;
  color: white;
  background-color: #141414;
}

footer p {
  color: lightgray;
}

footer a {
  text-decoration: none;
  color: white;
}

.page {
  min-height: 85vh;
  padding-top: 10px;
  padding-bottom: 20px;
}

.join-session-background {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/046/349/541/large/h-i-long-study01.jpg?1644917169");
  background-position: center;
  background-repeat: repeat-y;
}

.calendar-page-background{
  background-image: url("https://wallpapercave.com/wp/wp6325773.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.create-session-background{
  background-image: url("https://i.pinimg.com/originals/0f/95/fc/0f95fc4822f000774b5a5ee491aa22d2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.leader-board-background {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f702b429-79be-4907-8a8e-1ba8613ebe00/d92hf0x-17be56a4-39c3-4760-a583-841dd9f5d516.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Y3MDJiNDI5LTc5YmUtNDkwNy04YThlLTFiYTg2MTNlYmUwMFwvZDkyaGYweC0xN2JlNTZhNC0zOWMzLTQ3NjAtYTU4My04NDFkZDlmNWQ1MTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.9HzEomJRkCcxv7XLPh78W1otMyxJE5oK0k138vEZk38");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-pics {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.text-outline{
  -webkit-text-stroke: 0.8px black;
}

.allProfiles-background{
  background-image: url("../images/japanese_street.jpg");
  background-position: center;
  background-repeat: repeat-y;
}

.contactAdmin-background{
  background-image: url("https://i.pinimg.com/originals/ee/47/dc/ee47dc6689af806b8ea2022c2da5cde3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.yourProfile-background{
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/024/389/465/large/tarcisio-campos-anime-background.jpg?1582242034");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}