/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Create some Bowfolio CSS variables. */
:root {
  --navbar-bg: #6495ED;
  --navbar-bg-rgb: 0, 19, 153;
  --navbar-text: white;
  --navbar-highlight-text: var(--bs-gray-500);

  --navbar-bg-admin: #F08000;
  --navbar-bg-rgb-admin: 196, 2, 51;

}
/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--navbar-bg);
  --bs-dark-rgb: var(--navbar-bg-rgb);
}

/* Color the navbar for admins */
.admin span,
.admin a {
  color: var(--navbar-bg-admin);
}

/* Color the navbar for users */
.user span,
.user a {
  color: var(--navbar-bg);
}

footer.user {
  background-color: var(--navbar-bg);
}

footer.admin {
  background-color: var(--navbar-bg-admin);
}

.landing-color-background {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
  padding-top: 20px;
}

.landing-color-background-admin {
  background-color: var(--navbar-bg-admin);
  color: var(--navbar-text);
  padding-top: 20px;
}


.landing-white-background {
  background-color: var(--navbar-text);
  color: var(--navbar-bg);
  padding-top: 20px;
}

.landing-color-background-admin {
  background-color: var(--navbar-bg-admin);
  color: var(--navbar-text);
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}
